.panel {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 16vh 0 0;
  &__col {
    &__square {
      border: solid 1px black;
      background-color: #24dfa0;

      max-height: 150px;
      max-width: 150px;
      height: 33vw;
      width: 33vw;
    }
  }
}

.enemy {
  background-image: url('../../../assets/imgs/ralph.png');
  background-size: cover;
  background-position: center center;
}
